{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

<div class="container" style="width: 80%;">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>
      <strong>Preencha o seguinte formulário para cadastrar um evento:</strong>
    </h3>
    Nome: {{object.nome}}
    </br>
    CPF: {{object.cpf_assistido}}

  </br>{{form.errors}}

    <div class="form-group">
      <div class="form-group">
        <label for="{{ form.data.id_for_label }}" class="col-sm-3 control-label">Data</label>

        <div class="col-sm-9">
          {% render_field form.data class="form-control date" %} {{ form.data.errors }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-group">
        <label for="{{ form.hora_inicio.id_for_label }}" class="col-sm-3 control-label">Hora de início</label>

        <div class="col-sm-9">
          {% render_field form.hora_inicio class="form-control time" %} {{ form.hora_inicio.errors }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-group">
        <label for="{{ form.hora_fim.id_for_label }}" class="col-sm-3 control-label">Hora de término</label>

        <div class="col-sm-9">
          {% render_field form.hora_fim class="form-control time" %} {{ form.hora_fim.errors }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-group">
        <label for="{{ form.descricao.id_for_label }}" class="col-sm-3 control-label">Descrição</label>

        <div class="col-sm-9">
          <textarea class="form-control" id="id_descricao" maxlength="255" name="descricao" type="text" style="margin: 0px; height: 80px; width: 498px;">{{object.descricao}}</textarea> {{ form.descricao.errors }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-group">
        <label for="{{ form.tipo.id_for_label }}" class="col-sm-3 control-label">Tipologia processual</label>
        <div class="col-sm-9">
          <select class="form-control" id="tipo" name="tipo">
            {% if processo.tipologia == '0' %}
              <option value="0" selected="selected">Cível</option>
              <option value="1">Criminal</option>
              <option value="2">Familiar</option>
              <option value="3">Trabalhista</option>
              {% elif processo.tipologia == '1'%}
              <option value="0">Cível</option>
              <option value="1" selected="selected">Criminal</option>
              <option value="2">Familiar</option>
              <option value="3">Trabalhista</option>
              {% elif processo.tipologia == '2'%}
              <option value="0">Cível</option>
              <option value="1">Criminal</option>
              <option value="2" selected="selected">Familiar</option>
              <option value="3">Trabalhista</option>
              {% else %}
              <option value="0">Cível</option>
              <option value="1">Criminal</option>
              <option value="2">Familiar</option>
              <option value="3" selected="selected">Trabalhista</option>
            {% endif %}
          </select>
          {{ form.tipo.errors }}
        </div>
      </div>
    </div>
<!-- 
    <div class="form-group">
      <div class="form-group">
        <label for="{{ form.nome.id_for_label }}" class="col-sm-3 control-label">Primeira visita</label>
        <div class="col-sm-9">
          <select class="form-control" id="primeira_visita" name="primeira_visita">
            <option value="1" selected="selected">Sim</option>
            <option value="0">Não</option>
          </select>
          {{ form.primeira_visita.errors }}
        </div>
      </div>
    </div> -->
  </div>

  </br>
  <input type="submit" class="btn btn-success" value="Enviar" />
  </br>
  </form>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $(function(){
    $('#dp1').datepicker({
      format:"dd-M-yy",
      endDate: "today",
      todayBtn: true,
      forceParse: false,
      autoclose: true,
      todayHighlight: true
    });
  });
})
</script>


{% endblock content %}
