{% extends "base.html" %}
{% load gestao_tags %}
{% csrf_token %}
{% block content %}

    <div class="dataTable_wrapper">
        <table class="table table-striped table-bordered table-hover dt-responsive" id="dataTables-example">
            <div align="center">
                <h3>Lista de Eventos</h3>
            </div>
            <p align="center"><a href="{% url 'adesao:calendario' %}">Clique aqui</a> para visualizar no calendário.</p>
            </br>
            <div align="left">
                <input id="searchInput" type="text" class="cpf form-control input-lg" placeholder="Digite o CPF"/>
                <a id="pesquisar" href="#">Buscar</a> | <a href="{{ request.path }}">Limpar</a>
            </div>
            </br>
            {% if object_list %}
                <thead>
                <tr>
                    <th>Nome</th>
                    <th align="left" width="20%">Data</th>
                    <th align="left" width="20%">Horário</th>
                    <th align="center">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for evento in object_list %}
                    <tr class="odd gradeX">
                        <td width="35%"><a title-data="{{ evento.nome }}" class="tooltip">{{ evento.nome }}</a></td>
                        <td>{{ evento.data|date:"SHORT_DATE_FORMAT"}}</td>
                        <td>{{ evento.hora_inicio }} - {{ evento.hora_fim }}</td>
                        <td align="center">
                            <a href="{% url 'adesao:editar_evento' evento.id %}" type="button">Editar</a> | <a
                                href="{% url 'adesao:visualizar_evento' evento.id %}" type="button">Visualizar</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            {% else %}
                <div align="center">
                    <p>Nenhum dado cadastrado.</p>
                </div>
            {% endif %}

        </table>
        {% if is_paginated %}
            <div style="float:right;">
                {% if page_obj.has_previous %}
                    <a class="paginate_button previous" href="?{% url_replace 'page' page_obj.previous_page_number %}">Anterior</a>
                {% endif %}
                <a>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a>
                {% if page_obj.has_next %}
                    <a class="paginate_button next"
                       href="?{% url_replace 'page' page_obj.next_page_number %}">Próximo</a>
                {% endif %}
            </div>
            </div>
        {% endif %}
    <br>
    </div>
{% endblock content %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#pesquisar").click(function () {
                location.href = '{{ request.path }}?q=' + $('#searchInput').val();
            });
        });
    </script>
{% endblock js %}