{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    <h2>CADASTRAR PROCESSO</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-sm-7">
                <label for="{{ form.cpf_assistido.id_for_label }}"> CPF DO ASSISTIDO </label>
                {% render_field form.cpf_assistido class="form-control cpf" %} {% if form.cpf_assistido.errors %}
                <div class="alert alert-danger">
                    {{ form.cpf.errors }}
                </div>
                {% endif %}
            </div>
            <br/>
            <div class="form-group">
                <div class="form-group">
                    <label for="{{ form.tipologia.id_for_label }}" class="col-sm-3 control-label">TIPOLOGIA
                        PROCESSUAL</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="tipologia" name="tipologia">
                            <option value="0" selected="selected">Cível</option>
                            <option value="1">Criminal</option>
                            <option value="2">Familiar</option>
                            <option value="3">Trabalhista</option>
                        </select>
                        {{ form.tipologia.errors }}
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="form-group">
                    <label for="{{ form.data.id_for_label }}" class="col-sm-3 control-label">DATA DE RETORNO</label>

                    <div class="col-sm-9">
                        {% render_field form.data class="form-control date" %} {{ form.data.errors }}
                        <span>OBS:CADASTRAR DIA DE RETORNO NA AGENDA</span>
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="col-sm-7">
                    <label for="{{ form.descricao.id_for_label }}"> DESCRIÇÃO </label>
                    {% render_field form.descricao class="form-control" %} {{ form.nome.errors }}
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="form-group">
                    <label for="{{ form.status_processo.id_for_label }}" class="col-sm-3 control-label">STATUS</label>
                    {% render_field form.status_processo class="form-control" %} {{ form.nome.errors }}
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="form-group">
                    <label for="{{ form.responsavel_processo.id_for_label }}" class="col-sm-3 control-label">RESPONSAVÉL
                        PELO CADASTRO
                    </label>
                    {% render_field form.responsavel_processo class="form-control" %} {{ form.nome.errors }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-7" align="center">
                    <br/>
                    <input type="submit" class="btn btn-success btn-lg center-block" value="SALVAR">
                </div>
            </div>
    </form>
{% endblock %}

{% block js %}
    {% verbatim %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".form-horizontal").submit(function () {
                $(".cpf").formatter().resetPattern('{{99999999999}}');
                $(".cep").formatter({
                    'pattern': '{{99}}.{{999}}-{{999}}',
                    'persistent': false,
                });
                $(".telefone").mask('(00)00000-0000');
            });
        });
    </script>
    {% endverbatim %}
{% endblock js %}