{% extends "base.html" %}
{% load gestao_tags %}
{% csrf_token %}
{% block content %}
    <div>
        <h2>LISTA DE PROCESSO</h2>
    </div>
    <table class="table table-striped table-bordered table-hover dt-responsive" id="dataTables-example">
        {% if object_list %}
            <thead>
            <tr>
                <th>CODIGO</th>
                <th>NOME</th>
                <th>CPF</th>
                <th>STATUS</th>
            </tr>
            </thead>
            <tbody>
            {% for processo in object_list %}
                <tr class="odd gradeX">
                    <td width="30%">{{ processo.id }}</td>
                    <td width="40%">{{ processo.nome_assistido }}</td>
                    <td width="50%">{{ processo.cpf_assistido }}</td>
                    <td width="40%">{{ processo.status_processo }}</td>
                </tr>
            {% endfor %}
            </tbody>
        {% else %}
            <div align="center">
                <p>Nenhum dado cadastrado.</p>
            </div>
        {% endif %}
    </table>
    {% if is_paginated %}
        <div style="float:right;">
            {% if page_obj.has_previous %}
                <a class="paginate_button previous" href="?{% url_replace 'page' page_obj.previous_page_number %}">Anterior</a>
            {% endif %}
            <a>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a>
            {% if page_obj.has_next %}
                <a class="paginate_button next" href="?{% url_replace 'page' page_obj.next_page_number %}">Próximo</a>
            {% endif %}
        </div>
        </div>
    {% endif %}
{% endblock %}