{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    <h2>ANEXAR DOCUMENTOS DO PROCESSO</h2>
    <div>
        <label for="{{ form.id_.id_for_label }}">NUMERO DO PROCESSO</label>
        <input type="text" class="form-control" value="{{ assistido.id }}">
    </div>
    <div>
        <label for="{{ form.id_.id_for_label }}">ASSISTIDO</label>
        <input type="text" class="form-control" value="{{ assistido.nome }}">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa1">Opção 01 : </label>
        <input type="file" class="form-control-file" id="caixa1">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa2">Opção 02 : </label>
        <input type="file" class="form-control-file" id="caixa2">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa3">Opção 03 : </label>
        <input type="file" class="form-control-file" id="caixa3">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa4">Opção 04 : </label>
        <input type="file" class="form-control-file" id="caixa4">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa5">Opção 05 : </label>
        <input type="file" class="form-control-file" id="caixa5">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa6">Opção 06 : </label>
        <input type="file" class="form-control-file" id="caixa6">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa7">Opção 07 : </label>
        <input type="file" class="form-control-file" id="caixa7">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa8">Opção 08 : </label>
        <input type="file" class="form-control-file" id="caixa8">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa9">Opção 09 : </label>
        <input type="file" class="form-control-file" id="caixa9">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa10">Opção 10 : </label>
        <input type="file" class="form-control-file" id="caixa10">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa11">Opção 11 : </label>
        <input type="file" class="form-control-file" id="caixa11">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa12">Opção 12 : </label>
        <input type="file" class="form-control-file" id="caixa12">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa13">Opção 13 : </label>
        <input type="file" class="form-control-file" id="caixa14">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa14">Opção 14 : </label>
        <input type="file" class="form-control-file" id="caixa14">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa15">Opção 15 : </label>
        <input type="file" class="form-control-file" id="caixa15">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa16">Opção 16 : </label>
        <input type="file" class="form-control-file" id="caixa16">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa17">Opção 17 : </label>
        <input type="file" class="form-control-file" id="caixa17">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa18">Opção 18 : </label>
        <input type="file" class="form-control-file" id="caixa18">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa19">Opção 19 : </label>
        <input type="file" class="form-control-file" id="caixa19">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa20">Opção 20 : </label>
        <input type="file" class="form-control-file" id="caixa20">
    </div>
    <br/>
    <div class="form-group">
        <input type="button" class="btn btn-success btn-lg center-block" value="SALVAR">
    </div>
{% endblock %}