{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    <h2>ANEXAR DOCUMENTOS DO PROCESSO</h2>
    <div>
        <label for="{{ form.id_.id_for_label }}">NUMERO DO PROCESSO</label>
        <input type="text" class="form-control" value="{{ assistido.id }}">
    </div>
    <div>
        <label for="{{ form.id_.id_for_label }}">ASSISTIDO</label>
        <input type="text" class="form-control" value="{{ assistido.nome }}">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa1">Opção 01 : </label>
        <input type="file" class="form-control-file" id="caixa1">
    </div>
    <br/>
    <div class="form-group">
        <input type="button" class="btn btn-success btn-lg center-block" value="SALVAR">
    </div>
{% endblock %}