{% extends "base.html" %}
{% load gestao_tags %}
{% csrf_token %}
{% block content %}
    <div class="col-sm-5">
        <h1 class="text-center">SOBRE O ASSISTIDO</h1>
    </div>
    <div>
        <a href="http://127.0.0.1:8000/adesao/upload-doc/{{ assistido.id }}"><button>UPLOAD DE ARQUIVOS</button></a>
    </div>
    <br/>
    <div class="list-group">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">NOME : </h4>
                <input type="text" class="form-control" value=" {{ assistido.nome}}" disabled>
                <p class="list-group-item-text">Documento Scanner</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">REPRESENTANTE LEGAL : </h4>
                <input type="text" class="form-control" value=" {{ assistido.representante_legal}}" disabled>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">RG : </h4>
                <input type="text" class="form-control" value=" {{ assistido.rg}}" disabled>
                <p class="list-group-item-text">Documento Scanner</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">CPF : </h4>
                <input type="text" class="form-control" value=" {{ assistido.cpf}}" disabled>
                <p class="list-group-item-text">Documento Scanner</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">NACIONALIDADE : </h4>
                <input type="text" class="form-control" value="{{ assistido.nacionalidade}}" disabled>
                <p class="list-group-item-text">Documento Scanner</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">ESTADO CIVIL : </h4>
                <input type="text" class="form-control" value="{{ assistido.estado_civil}}" disabled>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">PROFESSIONAL : </h4>
                <input type="text" class="form-control" value="{{ assistido.profissao}}" disabled>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">RENDA FAMILIAR : </h4>
                <input type="text" class="form-control" value="{{ assistido.renda_familiar}}" disabled>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">ENDEREÇO RESIDENCIAL : </h4>
                <input type="text" class="form-control" value="{{ assistido.endereco_residencial}}" disabled>
                <p class="list-group-item-text">Documento Scanner</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">ENDEREÇO TRABALHO : </h4>
                <input type="text" class="form-control" value="{{ assistido.endereco_trabalho}}" disabled>
                <p class="list-group-item-text">Documento Scanner</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">CEP : {{ assistido.cep}}</h4>
                <input type="text" class="form-control" value="{{ assistido.cep}}}" disabled>
                <p class="list-group-item-text">Documento Scanner</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">TELEFONE CELULAR : </h4>
                <input type="text" class="form-control" value="{{ assistido.telefone_celular}}" disabled>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">TELEFONE FIXO : </h4>
                <input type="text" class="form-control" value="{{ assistido.telefone_fixo}}" disabled>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">TELEFONE COMERCIAL : </h4>
                <input type="text" class="form-control" value="{{ assistido.telefone_comercial}}" disabled>

            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">EMAIL : </h4>
                <input type="text" class="form-control" value="{{ assistido.email}}" disabled>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">OBSERVAÇÕES : </h4>
                <textarea>{{ assistido.observacoes}}</textarea>
            </a>
    </div>
    <br/>
</div>
{% endblock content %}