{% extends "base.html" %}
{% load gestao_tags %}
{% csrf_token %}
{% block content %}
    <div class="col-sm-5">
        <h1 class="text-center">Dados do Assistido</h1>
    </div>
    <div class="list-group">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">Nome: </h4>
                <input type="text" class="form-control" value=" {{ assistido.nome}}" disabled>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Representante Legal: </h4>
                <input type="text" class="form-control" value=" {{ assistido.representante_legal}}" disabled>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">RG: </h4>
                <input type="text" class="form-control" value=" {{ assistido.rg}}" disabled>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">CPF: </h4>
                <input type="text" class="form-control" value=" {{ assistido.cpf}}" disabled>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Nacionalidade : </h4>
                <input type="text" class="form-control" value="{{ assistido.nacionalidade}}" disabled>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Estado Civil : </h4>
                <input type="text" class="form-control" value="{{ assistido.estado_civil}}" disabled>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Profissional : </h4>
                <input type="text" class="form-control" value="{{ assistido.profissao}}" disabled>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Renda Familiar : </h4>
                <input type="text" class="form-control" value="{{ assistido.renda_familiar}}" disabled>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Endereço Residencial : </h4>
                <input type="text" class="form-control" value="{{ assistido.endereco_residencial}}" disabled>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Endereço Trabalho: </h4>
                <input type="text" class="form-control" value="{{ assistido.endereco_trabalho}}" disabled>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">CEP: {{ assistido.cep}}</h4>
                <input type="text" class="form-control" value="{{ assistido.cep}}}" disabled>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Telefone Celular : </h4>
                <input type="text" class="form-control" value="{{ assistido.telefone_celular}}" disabled>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Telefone Fixo: </h4>
                <input type="text" class="form-control" value="{{ assistido.telefone_fixo}}" disabled>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Telefone Comercial: </h4>
                <input type="text" class="form-control" value="{{ assistido.telefone_comercial}}" disabled>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Email: </h4>
                <input type="text" class="form-control" value="{{ assistido.email}}" disabled>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Observações: </h4>
                <textarea class="form-control">{{ assistido.observacoes}}</textarea>
            </a>
            {% if assistido.documentos %}
            <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Documentos: </h4>
                    <a href="{{ assistido.documentos.url }}">Baixar arquivos</a>
            </a>
            {% endif %}
    </div>
    <br/>
</div>
{% endblock content %}