{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    <h1 class="col-sm-5"> UPLOAD DE DOCUMENTOS ASSISTIDO </h1>
    <br/>
    <div>
        <label for="{{ form.id_.id_for_label }}">MATRICULA</label>
        <input type="text" class="form-control" value="{{ assistido.id }}">
    </div>
    <div>
        <label for="{{ form.id_.id_for_label }}">NOME</label>
        <input type="text" class="form-control" value="{{ assistido.nome }}">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa1">ANEXAR DOCUMENTOS PESSOAIS : </label>
        <input type="file" class="form-control-file" id="caixa1">
    </div>
    <br/>
    <div class="form-group">
        <input type="button" class="btn btn-success btn-lg center-block" value="SALVAR">
    </div>
{% endblock %}