{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    <h1 class="col-sm-5"> UPLOAD DE DOCUMENTOS ASSISTIDO </h1>
    <br/>
    <div>
        <label for="{{ form.id_.id_for_label }}">MATRICULA</label>
        <input type="text" class="form-control" value="{{ assistido.id }}">
    </div>
    <div>
        <label for="{{ form.id_.id_for_label }}">MATRICULA</label>
        <input type="text" class="form-control" value="{{ assistido.nome }}">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa1">Opção 01 : </label>
        <input type="file" class="form-control-file" id="caixa1">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa2">Opção 02 : </label>
        <input type="file" class="form-control-file" id="caixa2">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa3">Opção 03 : </label>
        <input type="file" class="form-control-file" id="caixa3">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa4">Opção 04 : </label>
        <input type="file" class="form-control-file" id="caixa4">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa5">Opção 05 : </label>
        <input type="file" class="form-control-file" id="caixa5">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa6">Opção 06 : </label>
        <input type="file" class="form-control-file" id="caixa6">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa7">Opção 07 : </label>
        <input type="file" class="form-control-file" id="caixa7">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa7">Opção 08 : </label>
        <input type="file" class="form-control-file" id="caixa7">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa7">Opção 09 : </label>
        <input type="file" class="form-control-file" id="caixa7">
    </div>
    <br/>
    <div class="form-group">
        <label for="caixa7">Opção 10 : </label>
        <input type="file" class="form-control-file" id="caixa7">
    </div>
{% endblock %}