{% extends "gestao/base_gestao.html" %}
{% load gestao_tags %}
{% block content %}
    <div class="dataTable_wrapper">
        <h1 class="header text-center">DETALHES USUARIO</h1>
        <br/>
        <div class="panel panel-primary">
            <div class="panel-heading">Detalhes dos usuarios cadastrados</div>
            <div class="panel-body">
                <div>
                    <label>Matrícula</label>
                    <input type="text" class="form-control" value="{{ usuario.id }}" disabled>
                </div>
                <div>
                    <label>Nome</label>
                    <input type="text" class="form-control" value="{{ usuario.nome_usuario }}" disabled>
                </div>
                <div>
                    <label>Data de Cadastro</label>
                    <input type="text" class="form-control" value="{{ usuario.data_cadastro }}" disabled>
                </div>
                <div>
                    <label>CPF</label>
                    <input type="text" class="form-control" value="{{ usuario }}" disabled>
                </div>
                <div>
                    <label>Email</label>
                    <input type="text" class="form-control" value="{{ user.email}}" disabled>
                </div>
                <div>
                    <label>Administrador</label>
                {% if user.is_staff %}
                    <input type="text" class="form-control" value="Sim" disabled>
                {% else %}
                    <input type="text" class="form-control" value="Não" disabled>
                {% endif%}
                </div>
                
                <br/>
            </div>
        </div>
    </div>
{% endblock %}