{% extends "gestao/base_gestao.html" %}
{% load gestao_tags %}
{% block content %}
    <div class="dataTable_wrapper">
        <h1 class="header text-center">Detalhes Assistido</h1>
        <br/>
        <div class="panel panel-primary">
            <div class="panel-heading">Detalhes do assistido, e página para upload de documentos pessoais</div>
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="col-xs-12">
                        <div>
                            <label for="{{ form.id_.id_for_label }}">Matricula</label>
                            <input type="text" class="form-control" value="{{ assistido.id }}" disabled>
                        </div>
                        <div>
                            <label for="{{ form.id_.id_for_label }}">Nome</label>
                            <input type="text" class="form-control" value="{{ assistido.nome }}" disabled>
                        </div>
                        <div>
                            <label for="{{ form.id_.id_for_label }}">Represetante Legal</label>
                            <input type="text" class="form-control" value="{{ assistido.representante_legal }}" disabled>
                        </div>
                        <div>
                            <label for="{{ form.id_.id_for_label }}">CPF</label>
                            <input type="text" class="form-control" value="{{ assistido.cpf | default_if_none:'Não informado'}}" disabled>
                        </div>
                        <div>
                            <label for="{{ form.id_.id_for_label }}">RG</label>
                            <input type="text" class="form-control" value="{{ assistido.rg | default_if_none:'Não informado'}}" disabled>
                        </div>
                        <div>
                            <label for="{{ form.id_.id_for_label }}">Email</label>
                            <input type="text" class="form-control" value="{{ assistido.email | default_if_none:'Não informado'}}" disabled>
                        </div>
                        <div>
                            <label for="{{ form.id_.id_for_label }}">Nacionalidade</label>
                            <input type="text" class="form-control" value="{{ assistido.nacionalidade | default_if_none:'Não informado'}}" disabled>
                        </div>
                        <div>
                            <label for="{{ form.id_.id_for_label }}">Estado Civil</label>
                            <input type="text" class="form-control" value="{{ assistido.estado_civil | default_if_none:'Não informado'}}" disabled>
                        </div>
                        <div>
                            <label for="{{ form.id_.id_for_label }}">Profissão</label>
                            <input type="text" class="form-control" value="{{ assistido.profissao | default_if_none:'Não informado'}}" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-xs-12">
                        <div>
                            <label for="{{ form.id_.id_for_label }}">Renda Familiar</label>
                            <input type="text" class="form-control" value="{{ assistido.renda_familiar | default_if_none:'Não informado'}}" disabled>
                        </div>
                        <div>
                            <label for="{{ form.id_.id_for_label }}">Endereço</label>
                            <input type="text" class="form-control" value="{{ assistido.endereco_residencial | default_if_none:'Não informado'}}"
                                   disabled>
                        </div>
                        <div>
                            <label for="{{ form.id_.id_for_label }}">Endereço Trabalho</label>
                            <input type="text" class="form-control" value="{{ assistido.endereco_trabalho | default_if_none:'Não informado'}}" disabled>
                        </div>
                        <div>
                            <label for="{{ form.id_.id_for_label }}">CEP</label>
                            <input type="text" class="form-control" value="{{ assistido.cep | default_if_none:'Não informado'}}" disabled>
                        </div>
                        <div>
                            <label for="{{ form.id_.id_for_label }}">Telfone Celular</label>
                            <input type="text" class="form-control" value="{{ assistido.telefone_celular | default_if_none:'Não informado'}}" disabled>
                        </div>
                        <div>
                            <label for="{{ form.id_.id_for_label }}">Telefone Fixo</label>
                            <input type="text" class="form-control" value="{{ assistido.telefone_fixo | default_if_none:'Não informado'}}" disabled>
                        </div>
                        <div>
                            <label for="{{ form.id_.id_for_label }}">Telefone Comerial</label>
                            <input type="text" class="form-control" value="{{ assistido.telefone_comercial | default_if_none:'Não informado'}}" disabled>
                        </div>
                        <div>
                            <label for="{{ form.id_.id_for_label }}">Observações</label>
                            <input type="text" class="form-control" value="{{ assistido.observacoes | default_if_none:'Não informado'}}" disabled>
                        </div>
                        <br/>
                        <div>
                            {% if assistido.documentos %}
                            <label>DOCUMENTOS :</label>
                            <a href="#">
                                <a href="{{ assistido.documentos.url }}">Baixar arquivos</a>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}