{% extends "gestao/base_gestao.html" %}
{% load gestao_tags %}
{% block content %}
    <div class="dataTable_wrapper">
        <h1 class="header text-center">Upload de Documentos</h1>
        <div class="panel panel-primary">
            <div class="panel-heading">Upload de arquivos do assistido no decorrer do processo</div>
            <div class="panel-body">
                <h2>Detalhes do Processo</h2>
                <div>
                    <label for="{{ form.id_.id_for_label }}">Numero do Processo :</label>
                    <input type="text" class="form-control" value="{{ processo.id }}" disabled>
                </div>
                <div>
                    <label for="{{ form.id_.id_for_label }}">Tipologia :</label>
                    <input type="text" class="form-control" value="{{ processo.tipologia }}" disabled>
                </div>
                <div>
                    <label for="{{ form.id_.id_for_label }}">Data de retorno :</label>
                    <input type="text" class="form-control" value="{{ processo.data }}" disabled>
                </div>
                <br/>
                <div>
                    <label for="{{ form.id_.id_for_label }}">Documentos :</label>
                    <input type="text" class="form-control" value="{{ processo.documentos }}" disabled>
                </div>
                <br/>
                <div class="form-group">
                    <label for="caixa1">DOCUMENTOS ASSISTIDO : </label>
                    {% if processo.documentos %}
                    <a href="{{ processo.documentos.url }}"><button class="btn btn-success" >BAIXAR DOCUMENTOS</button></a>
                    {% endif %}
                    <br/>
                </div>
            </div>
        </div>
    </div>
{% endblock%}
